<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/css/flex.css">
	<title></title>
</head>
<body>
	<div class="container">
		<div class="box-1">Block 1</div>
		<div class="box-2">Block 2</div>
		<div class="box-3">Block 3</div>
	</div>

	<div class="container2">
		<div>Block 1</div>
		<div>Block 1</div>
		<div>Block 1</div>
		<div>Block 1</div>
		<div>Block 1</div>
		<div>Block 1</div>
		<div>Block 1</div>
		<div>Block 1</div>
		<div>Block 1</div>
	</div>

	<div class="container3">
		<div>Block 1</div>
		<div>Block 2</div>
		<div>Block 3</div>
		<div>Block 4</div>
		<div>Block 5</div>
		<div>Block 6</div>
		<div>Block 7</div>
		<div>Block 8</div>
		<div>Block 9</div>
	</div>

	<div class="container4">
		<div>Block 1</div>
		<div>Block 2</div>
		<div>Block 3</div>
	</div>

	<div class="container5">
		<div>Block 1</div>
		<div>Block 2</div>
		<div>Block 3</div>
		<div>Block 4</div>
		<div>Block 5</div>
		<div>Block 6</div>
		<div>Block 7</div>
		<div>Block 8</div>
		<div>Block 9</div>
	</div>

	<div class="container6">
		<div>Block 1</div>
		<div>Block 2</div>
		<div>Block 3</div>
		<div>Block 4</div>
		<div>Block 5</div>
		<div>Block 6</div>
		<div>Block 7</div>
		<div>Block 8</div>
		<div>Block 9</div>
	</div>
</body>
</html>