{% extends 'base.html' %}
{% block content %}
	<!--float and display-->
	<img src="static/images/test.png" style="width: 200px; float: right;">
	<p style="margin-bottom: 100px;">這些基本上就講完了中興，但18號早晨，中興被美帝制裁之後，美國商務部又像華為下手了要求華為提供過去五年內向朝x、伊朗、敘利亞、古巴、蘇丹出口禁運品的全部清單，配合商務部調查，旨在查明是否違反合約中對通訊技術設備出口限制對禁令，把禁運技術出售給了上面那幾個特定對國家。</p>

	<ul style="background-color: lightblue; float: left;">
		<li>Test</li>
		<li>Apple</li>
		<li>Pinapple</li>
		<li>Mango</li>
		<li>Banana</li>
	</ul>
	<p style="margin-bottom : 100px;">話說換完高管團隊之後，求爺爺告奶奶的跟洋人面前認錯認慫交罰款，然後簽約許諾，簽完約吃飯喝慶功酒，酒醒了就把合約寫的啥都忘了!可能覺得前任都是栽在了出口環節，於是決定捨遠求近跑美帝眼皮子低下玩兒瞞天過海的把戲，亞軍實在無法理解到底是怎麼能夠蠢得如此大智大勇的。</p>

	<div style="border: 1px solid red; margin: 50px">
		<p>How are you</p>
		<p>haha</p>
		<span>span1</span>
		<span>span2</span>
	</div>

	<div style="border: 1px solid red; margin: 50px">
		<p style="display: inline;">How are you</p>
		<p style="display: inline;">haha</p>
		<span style="display: block;">span1</span>
		<span style="display: block;">span2</span>
	</div>

{% endblock %}